
a {
  color: var(--link--color);
  font-weight: var(--link--font-weight);
  text-decoration: var(--link--text-decoration);
}

a:visited {
  color: var(--link--color-visited);
}

a:hover, 
a:focus {
  color: var(--link--color-hover);
}

a:active {
  color: var(--link--color-active);
}


/* 
Stretch link 
Covers component with link. Component should have 
relative position.
*/
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}