img.cover {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  display: block;
}
img.background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  top: 0;
  left:0;
}
.editor-content img {
  height: auto;
}