.wp-block-code {
    border-color: currentColor;
    border-width: 1px;
    border-style: solid;
    padding: calc(1.5 * var(--space--text));

    code {
        color: currentColor;
        white-space: pre;
        overflow-x: auto;
        display: block;
    }
}